
.test {
  font-size: 25px;
}

.upload_zone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload_progress {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}