.nav {
  background-color: white;
  user-select: none;
  width: 100%;
}

.sticky-navbar-wrapper {
  height: 60px;
  position: relative;
  width: 100%;
  min-width: 950px;
}

.primary-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row
}

.primary-links li {
  text-align: center;
}